<div class="centerPage">
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <table border='0' cellpadding='1' cellspacing='0' align='center'>
      <tr>
        <td>
          <label for="fname">First Name</label>
        </td>
        <td>
          <input type="text" name="fname" id="fname" [(ngModel)]="fname">
        </td>
      </tr>
      <tr>
        <td>
          <label for="lname">Last Name</label>
        </td>
        <td>
          <input type="text" name="lname" id="lname" [(ngModel)]="lname">
        </td>
      </tr>
      <tr>
        <td>
          <label for="email">Email ID</label>
        </td>
        <td>
          <input type="text" name="email" id="email" [(ngModel)]="email">
        </td>
      </tr>
      <tr>
        <td>
          <label for="pwd">Enter Password</label>
        </td>
        <td>
          <input type="password" name="pwd" id="pwd" [(ngModel)]="pwd">
        </td>
      </tr>
      <tr>
        <td>
          <label for="cpwd">Confirm password</label>
        </td>
        <td>
          <input type="password" name="cpwd" id="cpwd" [(ngModel)]="cpwd">
        </td>
      </tr>
      <tr>
        <td align="rigth" colspan="2">
          <!-- <input style="float: right;" type="button" value="submit" (click)="onRegister()"> -->
          <button style="float: right;" type="submit">Submit</button>
        </td>
      </tr>
    </table>
  </form>

  <div>
    <table>
      <th>
        <tr>
          <td>ID</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email ID</td>
        </tr>
      </th>
      <tr *ngFor="let i of jsonStr">
        <td>i.id</td>
        <td>i.fname</td>
        <td>i.lname</td>
        <td>i.email</td>
      </tr>
    </table>
  </div>


</div>